bootstrap/cache/*

storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*

vendor

.idea
.vagrant
.env
.git

composer.lock
cloud_formation.stg.yml
buildspec.stg.yml

docker-compose.yml